.navbar {
  background-color: black;
  height: 11%;
  display: flex;
  justify-content: center;
  top: 0%;
  position: fixed;
  width: 100%;
}
h2 {
  color: rgb(232, 229, 235);
}

.search {
  display: flex;
  width: 100%;
  height: 5%;
  row-gap: 1px;
  background-color: black;
  justify-content: center;
  margin: auto;
}

.main-wrapper {
  display: flex;
}

.messages-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  background: rgba(27, 18, 18, 0.603);
  border: 7px 7px 7px 7px solid rgba(128, 128, 128, 0);
  flex: 1;
}

.message-card {
  background-color: white;
  width: 100%;
}

.chat-title {
  background-color: rgb(207, 40, 71);
  border-radius: 4px;
}

.main-card {
  display: flex;

  flex: 2;
  background-color: white;
}

.msg-area {
  display: flex;
  background-color: rgba(180, 173, 180, 0.973);
  overflow-y: auto;
  flex-direction: column;
  height: 400px;
}

.left-bubble {
  // user side
  display: flex;
  background-color: rgb(123, 95, 225);
  border-radius: 4px;
  width: 50%;
  height: 50%;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;

  align-self: flex-start;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-user {
  align-self: flex-end;
}

.right-bubble {
  //admin side
  display: flex;
  background-color: rgb(123, 95, 225);
  width: 50%;
  height: 40%;
  border-radius: 4px;
  align-self: flex-end;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px;
}

.status-online {
  color: #28a745;
}

.status-offline {
  color: blue;
}

.sent-time-left {
  color: rgba(0, 0, 0, 0.678);
  margin-left: auto;
}

.sent-time-right {
  color: rgba(0, 0, 0, 0.678);
  margin-right: auto;
}

.msg-notRead {
  background-color: grey;
}

.username {
  font-weight: bolder;
}
