h2 {
  margin-top: auto;
  width: 100%;
  background-color: rgb(81, 81, 158);
  font-weight: bold;
}
.mess {
  font-weight: bold;
  color: black;
}
.canc-btn {
  background-color: gray;
}

.cfrm-btn {
  background-color: rgb(81, 81, 158);
}
